.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 150px;
  // position: fixed;
  .header__logo {
    height: 125px;
    width: 125px;
    cursor: pointer;
  }
  .header__nav {
    ul {
      display: flex;
      .nav-item {
        padding: 10px;
        margin: 12px;
        .nav-link {
          color: $gray;
          font-size: $standart;
          font-weight: 600;
        }
      }
    }
    .active {
      color: $red;
      border-bottom: 5px $red solid;
    }
  }
  .header__lk {
    display: flex;
    flex-direction: center;
    .lk-autorisation {
      background-color: $red;
      font-size: $standart;
      border: none;
      border-radius: 25px;
      width: 150px;
      height: 50px;
      font-weight: 600;
      color: #fff;
      margin-right: 15px;
      cursor: pointer;
    }
    .lk-basket {
      padding: 5px 8px;
      border: 2px #000 solid;
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        right: 0%;
        top:-10%;
        color: #fff;
        background: $red;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}
.authorization {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 500px;
  width: 500px;
  background-color: #000;
}
